@using Castle.Core.Internal
@model Domain.DTO.CartDto

@{
    ViewBag.Title = "Cart";
}

<div class="container">
    @if (Model.OrderItems.IsNullOrEmpty())
    {
        <h1 class="h1">Your cart is empty</h1>
    }
    else
    {
        <h1 class="h1">Your cart</h1>
    }
    @foreach (var item in Model.OrderItems)
    {
        <div class="card mb-3">
            <div class="card-header">
                <h3>@item.MovieTitle</h3>
            </div>
            <div class="card-body">
                <p class="font-weight-bold">Price: @item.Price</p>
                <p>Quantity: @item.Quantity</p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-start">

                <div>
                    <form asp-controller="Cart" asp-action="UpdateAmount">
                        <input type="hidden" name="id" value="@item.Id"/>
                        <input class="form-control" type="number" min="1" max="10" name="amount" value="@item.Quantity"/>
                        <button type="submit" class="btn btn-outline-primary">Update Amount</button>
                    </form>
                    <a class="btn btn-danger" asp-controller="Cart" asp-action="RemoveFromCart" asp-route-id="@item.Id">Remove</a>
                </div>
            </div>
        </div>
    }
    <h2>Total: @Model.TotalPrice</h2>
    @* <a class="btn btn-success" asp-controller="Payment" asp-action="Index" >Checkout</a> *@
    <form asp-controller="Payment" asp-action="Processing" asp-route-id="@Model.Id" asp-route-amount="@Model.TotalPrice" method="POST">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_51NAbKcKkVIc94TENpt8aUbX2uEJKDAM2EFisRGp0zoiDDTqUJZS7YqRoZf3xqI9Si3xjSem3wtuob6x6k4Fuq1FI00zdBUFvFK"
                    data-amount="@Model.TotalPrice"
                    data-name="Movie ticket Store"
                    data-description="@Model.OrderItems.Count() items"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="en"
                    @* data-zip-code="true" *@
                    data-label="Pay $@Model.TotalPrice">
            </script>
        </form>
</div>