@model Domain.DTO.TicketDto
@{
    ViewData["Title"] = "Delete";
}
<div class="container">
    <h1 class="h1">Are you sure you wish to delete this Ticket?</h1>
    <p class="text-body font-weight-bold">Movie: @Model.MovieTitle</p>
    <p class="text-body font-weight-bold">Seat: @Model.Seat</p>
    <p class="text-body font-weight-bold">Price: @Model.Price</p>
    <p class="text-body font-weight-bold">Date: @Model.Date</p>
    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-outline-primary" asp-action="Index">No</a> 
    </form>
</div>

