@model List<Domain.MovieTicket>
@{
    ViewData["Title"] = "All tickets";
}
<div class="container">

    <a asp-controller="Ticket" asp-action="Create" class="btn btn-info mb-5">Add new ticket</a>
    <form method="get" class="mb-2">
        <input class="form-control mb-1" type="date" name="date" placeholder="Filter by Date">
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    @if (User.IsInRole("Admin"))
    {
        <form asp-controller="Ticket" asp-action="ExportAllTickets">
            <h3 class="h3">Export all tickets by genre</h3>
            <label for="genre" class="form-label">Genre</label>
            <input type="text" name="genre" id="genre" class="form-control"/>
            <button type="submit" class="btn btn-outline-danger mb-5">Export all tickets</button>
        </form>
    }
    @foreach (var ticket in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                <h3>@ticket.Movie.Title</h3>
            </div>
            <div class="card-body">
                <p class="font-weight-bold">Price: @ticket.Price</p>
                <p>Date: @ticket.Date</p>
                <p>Seat #: @ticket.Seat</p>
                <p>Movie Duration @ticket.Movie.Duration</p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-start">
                <div>
                    <a class="btn btn-outline-primary" asp-controller="Ticket" asp-action="Edit" asp-route-id="@ticket.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="Ticket" asp-action="Delete" asp-route-id="@ticket.Id">Delete</a>
                </div>
                <div>
                    <form asp-controller="Cart" asp-action="AddToCart">
                        <input type="hidden" name="id" value="@ticket.Id" />
                        <input class="form-control" type="number" min="1" max="10" name="quantity" value="1" />
                        <button type="submit" class="btn btn-success">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>